*,
*::before,
*::after
{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a:active,
a {
  text-decoration: none;
  color: whitesmoke;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: inherit;
    font-size: inherit;
}

ul,
li,
ol
{
    list-style-type: none;
}

img
{
    vertical-align: top;
}

html,
body
{
    height: 100%;
    line-height: 1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.imgLogo{
    max-width: 40px;
    max-height: 40px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

main{
    flex: 1 1 auto;
}

header{
    width: 100%;
    background-color: #3E282A;
}

[class*='_container']
{
    max-width: 1140px;
    margin: 0px auto;
    padding: 0px 15px;
}

.header_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.menuBar{
    display: flex;
}

.menuBar > *{
    margin: 0 10px;
    padding: 10px 10px;
}

.menuBar .barItem:nth-child(even){
    border-left: 1px solid rgb(212, 209, 209);
    border-right: 1px solid rgb(212, 209, 209);
    margin: 0;
}

.barItem{
    text-transform: uppercase;
    font-weight: 600;
    flex: 1 1 auto;
}

.barHover:hover{
    background-color: #6C8FB9;
    border-radius: 10px;
    color: #3E282A;
}

.barHover{
    padding: 10px;
}

.main_container{
    display: flex;
    flex-direction: column;
}

.gran{
    font-size: 3.2rem;
    color: #2a293e;
}

.intoduce{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 75px;
}

.contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 10px;
    margin-right: 20px;
}

.msgPhone{
    font-size: 18px;
    padding: 10px 0;
}

.phones{
    display: flex;
    flex-direction: column;
}

.phoneNumb{
    font-weight: 600;
    padding: 5px 0;
    font-size: 16px;
    color: #2a293e;
}

.topImgBlock{
    margin-bottom: 30px;
}

.topImg{
    width: 100%;
    border-radius: 10px;
}

.pageTopInfo{
    display: flex;
    align-items: flex-start;
}

.pageTopInfo > *{
    background-color: #F1EDE4;
    border-radius: 20px;
}

.navBarInfo{
    flex: 1 0 350px;
    margin-right: 10px;
}

.barInfo{
    display: flex;
    flex-direction: column;
    padding: 20px 30px 20px 20px;
}

.barInfoItem{
    margin: 5px;
    padding: 5px 0;
}

.line{
    position: relative;
    width: fit-content;
}

.products{
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.dropdown{
    padding-bottom: 0;
    margin-bottom: 0;
}

.fa-angle-down{
    transition: .3s;
}

.barInfoItem:hover .fa-angle-down{
    transform: rotate(180deg);
}

.prodItems{
    padding: 10px;
}

.pageDetailInfo{
    flex: 1 1 500px;
    min-height: 400px;
    margin-left: 10px;
}

.line:after{
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #2a293e;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right top;
}

.line:hover:after{
    transform: scaleX(1);
    transform-origin: left top;
}

.barItemHover.active{
    color: #F6B300;
    font-size: 18px;
}

.barItemHover{
    color: #2a293e;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    padding: 5px 0;
}

.pageDetailInfo{
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
}

.chapter{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 32px;
    color: #F6B300;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
}

.caption{
    font-size: 24px;
    padding: 10px 0;
}

.text{
    margin: 20px 0;
    font-size: 16px;
    line-height: 1.5;
}

.postImg{
    width: 75%;
}

.linkToDetail{
    color: #F6B300;
}

footer{
    border-top: 5px solid #E7DFD7;
    background-color: #F1EDE4;
    margin-top: 60px;
}

.footer_container{
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright{
    color: #88837f;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
}

@media (max-width: 1087px)
{
    [class*='_container']
    {
        max-width: 970px;
    }
}

@media (max-width: 991.98px)
{
    [class*='_container']
    {
        max-width: 750px;
    }
}

@media (max-width: 767.98px) {
    
    [class*='_container']
    {
        max-width: none;
    }

    .header_container{
        height: 56px;
    }
}